<div>
  <select [(ngModel)]="selectedLocation" class="form-select" (change)="getDrinks()">
    <option [value]="''">---</option>
    <option *ngFor="let l of locations" [value]="l.id">{{ l.name }}</option>
  </select>
</div>
<div class="container mt-3">
    <div class="row mb-3">
      <div class="col text-center">
        <button type="button" class="btn btn-primary" (click)="addDrink()">Neues Getränk einfügen</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of drinks">
            <td>
              <label *ngIf="!d.editMode" (dblclick)="editDrink(d)">{{d.price}}</label>
              <input type="number" [(ngModel)]="d.price" *ngIf="d.editMode" class="form-control" />
            </td>
            <td>
              <label *ngIf="!d.editMode" (dblclick)="editDrink(d)">{{d.name}}</label>
              <input type="text" [(ngModel)]="d.name" *ngIf="d.editMode" class="form-control" />
            </td>
            <td>
              <select [(ngModel)]="d.location" [disabled]="!d.editMode" class="form-select">
                <option *ngFor="let l of locations" [value]="l.id">{{ l.name }}</option>
              </select>
            </td>
            <td>
              <button type="button" 
                *ngIf="d.editMode" 
                class="btn btn-outline-success btn-sm" 
                [disabled]="d.name.trim()==''" 
                (click)="updateDrink(d)">Save</button>
              
              <button type="button" 
                *ngIf="d.editMode" 
                class="btn btn-outline-warning btn-sm" 
                (click)="cancelEdit(d)">Cancel</button>
                
              <button type="button" 
                *ngIf="d.editMode" 
                class="btn btn-outline-danger btn-sm" 
                (click)="deleteTask(d)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>