.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #F0E5A4;
  color: white;
  border-bottom: none;
  text-align: center;
}

.table-responsive {
  border-radius: 0 0 8px 8px;
}

.custom-table th, .custom-table td {
  padding: 1rem;
  vertical-align: middle;
}

.custom-table thead th {
  background-color: #343a40;
  color: white;
  border-bottom: 2px solid #dee2e6;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

.list-group-item {
  background-color: #f9f9f9;
}

.list-group-item button {
  margin-left: 5px;
}
